In [ ]:
print('Hello, Python!')

In [ ]:
import sys
print(sys.version)

In [ ]:
print('Hello, Python!') # This line prints a string
# print('Hi')

<h3 id="errors">Errors in Python</h3>

In [ ]:
# Print string as error message

frint("Hello, Python!")

In [ ]:
# Try to see build in error message

print("Hello, Python!")

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

In [ ]:
print('Hello, world!')

In [ ]:
print('Hello world!')
#print(Hello world!)

<h3 id="errors">Types in python</h3>

In [ ]:
# Integer

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

<p>Finding the type of a int, float, str</p>

In [41]:
# Type of 12

type(12)

int

In [42]:
# Type of 2.14

type(2.14)

float

In [43]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

<h3 id="int">Integers</h3>

In [ ]:
# Print the type of -1

type(-1)

In [ ]:
# Print the type of 4

type(4)

In [ ]:
# Print the type of 0

type(0)

<h3 id="float">Floats</h3>

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
# Print the type of 0.5

type(0.5)

In [ ]:
# Print the type of 0.56

type(0.56)

In [ ]:
# System settings about float type

sys.float_info

<h3 id="convert">Converting from one object type to a different object type</h3>

In [ ]:
# Verify that this is an integer

type(2)

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

<h4>Converting from strings to integers or floats</h4>

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

<h4>Converting numbers to strings</h4>

In [ ]:
# Convert an integer to a string

str(1)

In [ ]:
# Convert a float to a string

str(1.2)

<h3 id="bool">Boolean data type</h3>

In [ ]:
# Value true

True

In [ ]:
# Value false

False

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

<h3 id="exer_type">Exercise: Types</h3>

In [ ]:
type(6/2)

In [ ]:
type(6//2)

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="exer_exp">Exercise: Expression</h3>

In [ ]:
160/60

In [ ]:
# Mathematical expression

30 + 2 * 60

In [ ]:
# Mathematical expression

(30 + 2) * 60

<h3 id="var">Variables</h3>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

In [ ]:
# Overwrite variable with new value

x = x / 60
x

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
x=3+2*2
print(x)

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
17